<footer class="mb-1">
        <section class="row ml-0 mr-0 p-1" id="directions">
            <div class="col-sm-12 col-lg-4 col-md-12 col-xl-4 ">
    
                <div>
                    <h2>SERVICE TIMES</h2>
                    <p><b>SUNDAY:</b> Celebrate Jesus with us from 10am<br>
                        <b>TUESDAY: </b> Counselling: 12 noon <br>
                        <b>WEDNESDAY: </b> Bible Study &amp; Deliverance: 7pm<br>
                        <b>FRIDAY</b>: Miracle &amp; Prophetic Hour - 7pm <br>
                         Last <b>Friday</b> monthly <b> - VIGIL: 7pm</b> <br>
                        <b>HOLY COMMUNION DAYS:</b> 1st Sunday of the Month 10am<br>
                    </p>
    
    
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 col-md-12 col-xl-4  ">
                <div>
                    <p><b>Address: </b>15 York Hill, West Norwood.<br> South West London SE27 0BU </p>
                    <p><b>Telephone:</b> 020 7924 0727, 07453 718 201 </p>
                    <b> Directions:</b><br>
                    <p>Bus stop at the front of Texaco Petrol Station on West Norwood High street coming from Tulse Hill or
                        West
                        Norwood Train Station.
                        The Church is situated just behind the Petrol station with Entrance from York hill Road.
                        Buses: 2, 3, 196, 415 and 432 </p>
    
    
    
                </div>
            </div>
            <div class=" col-sm-12 col-lg-4 col-md-12 col-xl-4 bg-white  ">
                <div>
    
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2487.226490892798!2d-0.10757928486786146!3d51.43563427962333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876040352b47a6b%3A0xa28e816c5a96e834!2s15%20York%20Hill%2C%20West%20Norwood%2C%20London%20SE27%200BU!5e0!3m2!1sen!2suk!4v1568026004713!5m2!1sen!2suk"
                        width="100%" height="300vh" frameborder="0" style="border:0;" allowfullscreen="">
                    </iframe>
                </div>
            </div>
    
        </section>
        <section>
    
        </section>
        <section class="row ml-0 mr-0 p-1 badge-dark" id="generalinfor">
            <div class="col-sm-12 col-lg-4 col-md-12 col-xl-4 text-white ">
              <a href="" >privicy policy</a>
            </div>
            <div class="col-sm-12 col-lg-4 col-md-12 col-xl-4 ">
                    &#169; <time>2019</time>
            </div>
            <div class="col-sm-12 col-lg-4 col-md-12 col-xl-4 ">
    
            </div>
    
        </section>
    
    
    
    </footer>
