<section id="" class="mb-3">
    
        <header id="prayerheader" class="text-center p-3">
                <h2 id="prayer">OCTOBER</h2>
                <span id="prayersub">Our Month of Living in Authority</span>
            </header>



    <!-- MAKE A CSS CALENDER FOR A MONTH
    <div class="months">
        <ul>
            <li class="previousarrow">&#10094;</li>
            <li class="nextarrow">&#10095;</li>
            <li class="monthname">OCTOBER<br><span class="year"> 2019</span></li>
        </ul>
    </div>
-->



    <div>
        <table class="month table table-bordered">
            <thead class="thead-dark">
                <tr class="weekdays">
                    <th>MON</th>
                    <th>TUE</th>
                    <th>WED</th>
                    <th>THU</th>
                    <th>FRI</th>
                    <th>SAT</th>
                    <th>SUN</th>
                </tr>
            </thead>
            <tbody>
                <tr class="days">
                    <td></td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td >4 <!--<br><span>Miracle Hour</span>--></td>
                    <td>5</td>
                    <td class="monthevent">6<br> <span class="montheventnames">Holy Communion</span></td>
                    
                </tr>
                    <tr>
                        <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                            <td>11</td>
                            <td>12</td>
                            <td>13</td>
                           
                    </tr>
                    <tr>
                            <td>14</td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                                <td>19</td>
                                <td>20</td>
                               
                        </tr>
                        <tr>
                                <td>21</td>
                                    <td>22</td>
                                    <td>23</td>
                                    <td>24</td>
                                    <td class="monthevent">25 <br><span class="montheventnames">Night Vigil </span> </td>
                                    <td>26</td>
                                    <td>27</td>
                                   
                            </tr>
                            <tr>
                                    <td>28</td>
                                        <td>29</td>
                                        <td>30</td>
                                        <td>31</td>
                                        
                                       
                                </tr>
                  
            
            </tbody>
        </table>
    </div>





</section>