*{box-sizing: border-box}
ul{
    list-style-type: none;
}
.months{
    font-size: 24px;
    width: 100% !important;
    background-color: aqua;
    display: inline-block;
    text-align: center;

}

#year{
    font-size: 12px;

}
.previousarrow{
    margin-top: 20px;
    float: left;
}
.nextarrow{
    margin-top: 20px;
    float: right;
}
.weekdays  li{
    display: inline-block;
    
    width: 13.6%;
}
.days li{
    display: inline-block;
    width: 13.6%;
    height: 20px;

}
.days td{
    
    width: 13.6%;
    height: 20px;

}

#prayerheader{
    height: 15vh;
    margin-top: 1px;
    background-image: linear-gradient( #4B0082,  #000080	 );
    color: 	#FFFFFF;
}
#prayersub{
    color: #FFD700;
    
}

.monthevent{
    background-image: radial-gradient( #000080 , #4B0082 );
    color: white;
}
.montheventnames{
    color: #FFD700;
}