<section id="services">
    <header id="serviceheader" class="text-center p-3">
        <p id="heading"><u>CHURCH SERVICES</u> <br>
            <span id="choirsub">Praise &amp; Worship by Living Voices</span></p>

    </header>
    <div class="row   mt-1 mb-1 jumbotron text-justify ">
       
        <div class="col-12 col-sm-12 col-lg-12 col-md-12 col-xl-12 mb-1   ">
            
            <div class="card ">

                <div class="card-body">
                    <p class="text-center card-title servicesubs">THE WORSHIP</p>
                    <p class="card-text subtext">
                        Our Sunday Services starts at 10:00 am-12pm. It is a warm and welcoming gathering that caters
                        and accommodates youth, new, young to mature Christians.</p>
                        <p>
                            We teach and preach the word of God
                            that all may be feed and brought to full maturity in Christ Jesus as the Scripture says “Desire
                            the sincere word of God that we may not be thrown from and to by winds of doctrine’’ so that
                            mediocrity and crisis in the Christendom can be brought under subjection while increasing the
                            level of spiritual growth
                        </p>
                       
                       <p>
                        Our services are modern Pentecostal style with songs that ranges from
                        modern contemporary to classical Gospel songs to suit everyone ones need. We give room for the
                        flow of the power of the God to move in prayer and ministration to work among us while
                        fellowshipping.
                       </p> 
                       <p>
                        After the service we have prayers and ministration for those who may need it. We also have various other events going on during the week in addition to our regular Sunday
                        morning Service and these are as follow:

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>