<section id="profile">
    <header id="profileheader" class="text-center p-3">
        <p id="heading"><u>PASTOR PATRICK OBI</u> <br>
            <span id="mandatesub">Profile &amp; History</span></p>

    </header>
    <div class="row justify-content-around mt-1 mb-1 jumbotron text-justify ">

        <div class="col-12 col-sm-12 col-lg-6 col-md-6 col-xl-6 mb-1 ">

            <div class="card ">

                <div class="card-body">
                    <p class="text-center card-title aboutsubs">PROFILE</p>
                    <p class="card-text subtext">
                        He is better known for his biblical and practical approach to deliverance Ministrations in
                        Nigeria and London which has seen numerous numbers of afflicted lives and tougher cases
                        restored. <br>
                        He has been nicknamed the Walking Bible by his flocks, because ‘’He has an insight of
                        the revelation to every part of the bible you are not acquainted with.” <br>
                        He will bring it to full
                        understanding with scriptural backup truth, whether he is in the church or outside he has the
                        biblical chapters and verses clearly in his head.
                        <br>You will be left not in doubt, for you will
                        receive the knowledge and revelation together according to the gospel truth. He is a true
                        Shepherd who encourages his flocks in the way he articulates himself as he imparts the word to
                        either an individual or a group.<br>

                        Anointed by God, Pastor Obi Patrick is a True Prophet of God, Power House Evangelist,
                        a great
                        Teacher and Preacher of the true Word of God. <br>
                        Many people who have not been able to live their
                        God ordained lives before are daily receiving their freedom through his Ministry.<br>
                        He has a thriving and prosperous congregation and he is putting a mark in London 
                        that will lift God’s people to live and reign in dominion according to the fullness of God’s power.

                    </p>
                </div>
            </div>
        </div>

        <div class="col-12  col-sm-12 col-lg-6 col-md-6 col-xl-6">

            <div class="card">

                <div class="card-body">
                    <p class="text-center card-title aboutsubs">PERSONAL HISTORY</p>
                    <p class="card-text text-left  subtext">
                        Pastor Obi was called into the ministry with the mandate to set captives free and to demonstrate
                        the life and power of God in the world. <br>
                        He was born into a Christian family but has never been
                        satisfied with their standard of Christianity.
                        <br> At a tender age, he was desperate to know God
                        more and to have a deeper relationship with Him.<br>
                         In his search for true and deeper relationship
                        with God, Jesus appeared to him one day as he was praying and filled him with the Holy Spirit.<br>
                        Since then like wide fire he spread the gospel in and across the country.<br>
                        After his ordination as a pastor, God gave him the mandate to set the captives free and to
                        demonstrate His life and power in the world. He was wondering what God meant. 
                        <br>He said to him” I
                        will show you”. That night, God showed him in a dream where demons blocked the road and held
                        many hostage. He came and subdued them and set the people free.<br>
                         He told him to start a ministry
                        and gave him the name “Tower of Life” and promised to back him.
                        <br> He started the churches in
                        Nigeria and London and captives are being set free in these churches with an uncommon anointing
                        of the Holy Spirit.

                    </p>
                </div>
            </div>


        </div>
    </div>

</section>